nav {
  background-color: #cc0000;
  border-radius: 5px;
  width: 100%;
}

button {
  background-color: #cc0000;
}

i {
  color: white;
}

.week-days {
  font-weight: bold;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 17px;
  color: black;
}

.font {
  font-family: "Hind Siliguri", sans-serif;
}
