.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 8px #888888;
  padding: 20px;
  height: 40vh;
  width: 30vw;
  font-family: "Karla", sans-serif;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px);
}
